
.container{
    background-image: linear-gradient(to bottom right,rgb(242, 77, 181),rgb(36, 185, 235));
  
    border:1px solid black;
    border-radius: 40px;
    margin: 100px 600px 300px 600px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    bottom: 500px;
    
    }


    
   
   


.famname{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100px;
    color:brown ;
}

body{
    background-color:rgb(236, 173, 63);
  
    width: 100%;
   
}



.img1{
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 500px;
    position: relative;
    left:30px;
    top: 300px;
}
.img2{
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 600px;
    position: relative;
    left:80px;
   top:180px;
}
.img3{
    text-align: center;
    border-radius: 100px;
    width:350px;
    height:250px;
    position:relative;
    left:180px;
    
}
.image1{
 border-radius: 100px;
 height:450px;
 width:400px;
 position: relative;
 left:100px;
 top:100px;

}


.image2{
    border-radius: 100px;
    height:450px;
 width:400px;
 position: relative;
 left: 1000px;
 top:100px;
}

.image3{
    border-radius: 100px;
    height:450px;
 width:400px;
 position: relative;
 top:700px;
 right:700px;
}
.image4{
border-radius: 100px;
height:450px;
 width:400px;
 position: relative;
 top:700px;
 left:200px;
}

    



.fam1{
    height: 400px;
    width:400px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    padding: 30px;
   
}
.fam2{
    height: 400px;
    width:400px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    padding: 30px;
   
}
.fam3{
    height: 400px;
    width:400px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    padding: 30px;
   
}
.fam4{
    height: 400px;
    width:400px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    padding: 30px;
   
}
.family{
   
    position: relative;
    bottom: 700px;

}

.welcome{
    
    font-family: 'Merriweather', serif;
    text-align: center;
    
}
.name{
    
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 25px;
    color: rgb(233, 47, 10);
}
.wedding{
    text-align: center;
    position: relative;
    right: 150px;
    top:50px;
    
    
}
.reception{
    text-align: center;
    position: relative;
    left: 150px;
    bottom:50px;
}
.wed_head{
    
    font-family: 'Lobster', sans-serif;
    text-align: center;
}
.wed_body{
    
    font-family: 'Merriweather', serif;
    text-align: center;
}
.reception{
 
    text-align: center;
}
.recep_head{
   
    font-family: 'Lobster', sans-serif;
}
.recep_body{

    font-family: 'Merriweather', serif;
    text-align: center;
}
